*{
	margin: 0px;
	padding: 0px;
	box-sizing: content-box;
}
.newuser-block h3{
	font-size: 24px;
	padding: 20px 0px;
}
.newuser-block{
	padding: 20px;
}
.input-block{
	margin: 20px 20px 0px;
}
.input-block input{
	border-radius: 20px;
	border:none;
	width: 250px;
	height: 30px;
	padding: 5px 10px 5px;
	font-size: 16px;
	background-color: #F1F1F1;
}
.input-block span
{
	font-size: 18px;
	display: inline-block;
	width: 100px;
	text-align: left;
}
.input-block input[type="file"]{
	background-color: #fff;
	
}
.input-block input[type="submit"]{
	
	width: auto;
	padding: 5px 25px;
}
